:root {
  --color-page-background: #fff;
  --color-main-brown: #DA6027;
  --color-status-background: #EED0C0;
  --color-main-background: #F9F9F9;
  --color-secondary-background: #F0F0F0;
  --color-tertiary-background: #E6E6E6;
  --color-footer-background: #000;
  --color-footer-text: #fff;
  --color-main-borderline: #7D7B79;
  --color-main-text: #808080;
  --color-feature-title: #255A8E;
  --color-feature-text: #555;
  --color-section-title: #1A1A1A;
  --color-section-title-hover: #000;
  --color-logo-main: #009CD2;
  --color-link: #337ab7;
  --color-link-hover: #23527c;
}