footer {
  background-color: var(--color-main-background);
  //border-top: 2px solid var(--color-main-borderline);

  nav.footer-copy {
    padding: 2rem 5rem;
    background-color: var(--color-footer-background);

    ul {
      display: flex;
      gap: 1em;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      color: var(--color-footer-text);
      font-weight: 500;
      //max-width: 1000px;
      margin: 0 auto;

      li {
        flex-grow: 1;
        text-align: center;
      }

      @media (max-width: 1100px) {
        li.copyright {
          flex-basis: 100%;
        }
      }

      a{
        position: relative;
        text-decoration: none;
        outline: none;
        color: var(--color-footer-text);
        padding-bottom: 5px;
      }
    }

    @media (max-width: 500px) {
      ul {
        font-size: 1.1rem;
      }
    }
  }
}
