<ul>
  <li>
    <b>To connect with a VNC client:</b><br>
    point your favorite client to
    <pre><code><%= connect.host %>:<%= connect.vncport %></code></pre>
    and connect using the password
    <pre><code><%= connect.password %></code></pre>
  </li>
</ul>
