#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 2rem 1rem 1rem 6rem;
    background-color: var(--color-main-backgroud);
    border-bottom: 2px solid #7D7B79;

    a{
        text-decoration: none;
        color: inherit;
    }

    h1 {
        flex-grow: 10;
        font-size: 6rem;
        white-space: nowrap;
        margin: 0;
        color: var(--color-main-brown)
    }

    h1 a:after {
        background-image: url('../assets/sid_logo.png');
        background-size: 117px 65px;
        display: inline-block;
        width: 117px;
        height: 65px;
        content: '';
    }

    nav {
        flex-grow: 1;
    }

    ul {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        align-items: center;
        font-size: 2.2rem;
        list-style-type: none;
        padding: 1rem 0 1rem 1rem;
        margin: 0;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);

        a {
            text-decoration: none;
            white-space: nowrap;
            font-weight: 500;
            color: var(--color-main-text);
        }

        a:hover {
            text-decoration: underline;
        }

        a.connect-icon {
            position: relative;
            border: 1px solid var(--color-logo-main);
            color: var(--color-logo-main);
            border-radius: 8px;
            padding: 0.35em 78px 10px 1rem;
        }

        a.connect-icon:hover {
            text-decoration: none;
        }

        a.connect-icon::after {
            background-image: url('../assets/sid_logo.png');
            background-size: 65px 36px;
            position: absolute;
            top: 5px;
            right: 5px;
            width: 65px;
            height: 36px;
            content: '';
        }
    }
}