.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 2rem 1rem 1rem 4%;
    background-color: var(--color-main-backgroud);
    border-bottom: 2px solid var(--color-main-borderline);

    a{
        position: relative;
        text-decoration: none;
        outline: none;
        color: inherit;
    }

    h1 {
        flex-grow: 10;
        font-size: 6rem;
        white-space: nowrap;
        margin: 0;
        color: var(--color-main-brown)
    }

    h1 a::after {
        background-image: url('../assets/sid_logo.png');
        background-size: 117px 65px;
        display: inline-block;
        width: 117px;
        height: 65px;
        content: '';
    }

    nav {
        flex-grow: 1;
    }

    ul {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        align-items: center;
        font-size: 2.4rem;
        list-style-type: none;
        padding: 2px 0 2px 1rem;
        margin: 0;
        border-radius: 3px;

        a {
            text-decoration: none;
            white-space: nowrap;
            color: var(--color-main-text);
        }
    }
}