#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 2rem 1rem 1rem 4%;
    background-color: var(--color-main-background);
    border-bottom: 2px solid var(--color-main-borderline);

    a{
        position: relative;
        text-decoration: none;
        outline: none;
        color: inherit;
    }

    h1 {
        flex-grow: 10;
        font-size: 6rem;
        white-space: nowrap;
        margin: 0;
        color: var(--color-main-brown)
    }

    h1 a::after {
        background-image: url('../assets/sid_logo.png');
        background-size: 117px 65px;
        display: inline-block;
        width: 117px;
        height: 65px;
        content: '';
    }

    @media (max-width: 780px) {
        h1 {
            font-size: 4rem;
        }

        h1 a::after {
            background-size: 90px 50px;
            width: 90px;
            height: 50px;
        }
    }

    nav {
        flex-grow: 1;
        padding: 2px 0 2px 1rem;
    }

    nav.hamburger-menu {
        padding-right: 1rem;
        flex-grow: 1;
        flex-basis: 100%;
    }

    ul {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        align-items: center;
        font-size: 2.4rem;
        list-style-type: none;
        margin: 0;
        border-radius: 3px;

        a {
            text-decoration: none;
            white-space: nowrap;
            color: var(--color-main-text);
        }
    }

    nav.hamburger-menu ul {
        flex-direction: column;
        align-items: flex-start;

        li {
            padding-bottom: 1rem;
        }

        .item-sid-connect {
            padding: 0.5rem 0;
        }
    }
}