#main-content {
    padding: 2rem 4% 3rem 4%;
    background-color: var(--color-main-brown);
    font-size: 1rem;
    text-align: center;


    @media (max-width: 780px) {
        font-size: .8rem;
    }

    p {
        color: #fff;
        font-size: 3em;
        font-weight: 250;
        text-align: left;
        padding: 0.8em 0;
    }


    a {
        display: inline-block;
        text-decoration: none;
        padding: 0.6em 1.4em;
        font-size: 2.2em;
        font-weight: bold;
        color: var(--color-main-brown);
        background-color: #fff;
        border: 1px solid var(--color-main-brown);
        border-radius: 20px;
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    }
}


@media (max-width: 1100px) {
    #features {
      flex-direction: column;
    }
}

#features {
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;

    .feature-item {
        flex-basis: 33%;
        padding: 0 20px;

        p {
            padding-bottom: 2.2rem;
        }

        ul {
            padding-left: 1.5rem;
            padding-bottom: 2.2rem;

            li {
                padding: 3px 0;
            }
        }

        a {
            color: var(--color-feature-title);
        }
    }

    h3 {
        padding: 4rem 0;
        font-size: 3.5rem;
        font-weight: normal;
        color: var(--color-feature-title);
        white-space: nowrap;
    }

    @media (max-width: 780px) {
        h3 {
            font-size: 3rem;
        }
    }

    .feature-item-content {
        color: var(--color-feature-text);
        padding-bottom: 20px; 
    }
}

.feature-actions {
    display: flex;
    justify-content: center;
    padding: 4rem 0;

    a {
        display: inline-block;
        text-decoration: none;
        padding: 1.3rem 3rem;
        font-size: 2.2rem;
        font-weight: bold;
        color: #919191;
        border: 3px solid var(--color-logo-main);
        border-radius: 10px;
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    }
}