@import './header.scss';
@import './home.scss';

:root {
  --color-page-background: #fff;
  --color-main-brown: #DF800C;
  --color-main-backgroud: #F9F9F9;
  --color-main-text: #B8B8B8;
  --color-feature-title: #215990;
  --color-feature-text: #555;
  --color-logo-main: #0BBCE3;
}

html {
  font: 300 62.5% "Lora", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    'Lora',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  font-size: 1.4rem;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.btn-hover-effect:hover {
  transform: scale(0.96);
}

.link-hover-effect::after {
  content: '';
  position: absolute;
  background-color: currentColor;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 0.2s ease;
}

.link-hover-effect:hover::after {
  transform: scale(1, 1)
}
