a.learn-more {
  text-decoration: none;
  color: var(--color-feature-title);
  padding-bottom: 8px; 
  border-bottom: 2px solid var(--color-main-brown);
}

a.learn-more:hover {
  font-weight: 500;
}

a.learn-more::after {
  content: ' \02192';
  font-family: 'Montserrat', Arial;
}