
*.bridgesupport
*.gem
*.lcov
*.log
*.pid
*.pid.lock
*.rbc
*.seed
*.tgz
*.tsbuildinfo
.byebug_history
.cache
.cache/
.dat*
.dynamodb/
.env
.env.test
.eslintcache
.fusebox/
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.repl_history
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.rvmrc
.serverless/
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/doc/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
vendor/bundle
bin
!launchers/**/bin
bower_components
build-iPhoneOS/
build-iPhoneSimulator/
build/
build/Release
coverage
data/*
!data/.keep
dist
jspm_packages/
lerna-debug.log*
lib-cov
log
logs
node_modules/
npm-debug.log*
out
pids
public/assets
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
tmp
web_modules/
yarn-debug.log*
yarn-error.log*
