<li class="dropdown <%= class_value %>" title="sid about">
  <a href="http://sid.harvard.edu/about">
    <i class="fas" aria-hidden="true"></i><span> About</span>
  </a>
</li>
<li class="dropdown <%= class_value %>" title="sid documentation">
  <a href="http://sid.harvard.edu/documentation">
    <i class="fas" aria-hidden="true"></i><span> Documentation</span>
  </a>
</li>
<li class="dropdown <%= class_value %>" title="sid support">
  <a href="http://sid.harvard.edu/support">
    <i class="fas" aria-hidden="true"></i><span> Support</span>
  </a>
</li>
