<li title="sid about">
  <a href="http://sid.harvard.edu/about">
    <i class="fas" aria-hidden="true"></i><span class="hidden-sm hidden-md hidden-md-nav"> About</span>
  </a>
</li>
<li title="sid documentation">
  <a href="http://sid.harvard.edu/documentation">
    <i class="fas" aria-hidden="true"></i><span class="hidden-sm hidden-md hidden-md-nav"> Documentation</span>
  </a>
</li>
<li title="sid support">
  <a href="http://sid.harvard.edu/support">
    <i class="fas" aria-hidden="true"></i><span class="hidden-sm hidden-md hidden-md-nav"> Support</span>
  </a>
</li>
