// Place all the styles related to the BatchConnect::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.batch-connect.sessions {
  .tab-content {
    padding-top: 10px;
  }
}

.list-group .app-icon{
  width: 14px;
  height: 14px;
  font-size: 14px;
}

.list-group-item.header {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #777;
  font-size: 12px;
  background-color: #f5f5f5;
}

.btn-sid-delete {
  color: #90100C;
}

.btn-sid-delete:hover {
  color: #fff;
  background-color: #90100C;
  border-color: #90100C;
}

.btn-sid-terminate {
  color: #dd6561;
}

.btn-sid-terminate:hover {
  color: #fff;
  background-color: #dd6561;
  border-color: #dd6561;
}

/* OVERRIDE CONFIRM BUTTON FOR MODAL DIALOG */
.modal-dialog {
  .btn.commit.btn-danger {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }

  .btn.commit.btn-danger:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
}