<div id="link-cannon-button" class="col-sm-6 col-md-4 col-lg-3">
  <div class="app-launcher app-launcher-hover">
    <a class="quick-link launcher-click cannon" href="https://vdi.rc.fas.harvard.edu/" target="_blank">
      <div class="quick-link-header-text">
        <p class="quick-link-header-title cannon">Low Risk Data</p>
        <p>Up to Harvard Level 2</p>
      </div>
      <div class="quick-link-text">
        <p>Connect to Cannon</p>
        <p class="text-muted small-text">Low risk confidential data</p>
        <p class="text-muted small-text">Cannon cluster</p>
      </div>
    </a>
  </div>
</div>