<div id="link-terminal-button" class="col-sm-6 col-md-4 col-lg-3">
  <div class="app-launcher app-launcher-hover">
    <a class="quick-link launcher-click gray" href="<%= OodApp.new(Router.router_from_token('sys/shell')).links.first.url %>" target="_blank">
      <div class="quick-link-header-image">
        <img title="terminal image" aria-hidden="true" src="/public/images/term_logo.svg">
      </div>
      <div class="quick-link-text">
        <p>Start a web based</p>
        <p>Terminal session</p>
      </div>
    </a>
  </div>
</div>


