.status-container {
  padding-top: .5em;
}

.status-iframe {
  padding: 0;
  margin: 0;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  overflow: hidden;

  iframe {
    display: block;
  }
}

.hpc-status {
  position: relative;
  padding: .3em 0;
  font-size: 1.1em;
  text-align: center;
  background: #fff;
  border: 3px solid #fff;
  border-radius: 8px;
}

.hpc-status.ok {
  border-color: #118C37;
}

.hpc-status.issues {
  border-color: #ffc107;
}

.hpc-status.maintenance {
  border-color: #c7254e;
}

.hpc-status.unknown {
  border-color: #c7254e;
}

.hpc-status::before {
  content: '';
  font-weight: bold;
  display: inline-block;
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  top: 4px;
  left: 10px;
}

.hpc-status.ok::before {
  content: '✔';
  background-color: #B6DCC3;
}

.hpc-status.issues::before {
  content: '!';
  background-color: #ffe69c;
}

.hpc-status.maintenance::before {
  content: 'x';
  color: #c7254e;
  background-color: #f4d3db;
}

.hpc-status.unknown::before {
  content: 'x';
  color: #c7254e;
  background-color: #f4d3db;
}