// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$launcher-border-color-light: #2D9BF0;
$launcher-border-color: #337ab7;
$launcher-border-color-secondary: #808080;
$launcher-color-brown: #DA6027;

#view-interactive-sessions-container {
  margin-bottom: 40px;
}

.quick-launch-buttons-container {

}

#app-launcher-container {
  .row {
    margin-bottom: 40px;
  }
}

.app-launcher-title {
  padding: 40px 0;

  h2 {
    font-size: 60px;
    letter-spacing: 1px;
    color: $launcher-color-brown;
  }

  img {
    width: 120px;
    margin-top: -25px;
  }
}

.quick-launch-buttons-title {
  padding: 15px 0;
  margin-bottom: 5px;
}

.quick-launch-buttons-title h3 {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: $launcher-border-color-secondary;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 300;
}

.launch-button-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 1;
}
.launch-button-spinner .spinner-border{
  width: 60px;
  height: 60px;
}
.launch-button-container {
  position: relative;
  height: 220px;
  margin-bottom: 20px;
}
.launch-button {
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: 4px solid $launcher-border-color-light;
  border-radius: 30px;
  margin-bottom: 20px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.launch-button:hover {
  transform: scale(0.98);
}

.launch-button .title{
  text-transform: uppercase;
  padding: 10px;
}

.launch-button .panel-image{
  height: 120px;
  overflow: hidden;
}

.launch-button .terminal-image{
  height: 155px;
  overflow: hidden;
}

.launch-button .all-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  overflow: hidden;
  margin-bottom: 30px;
}

.launch-button .panel-text {
  padding: 0 20px 15px 20px;
  white-space: nowrap;
}

.launch-button .title-text {
  font-size: 18px;
  font-weight: 400;
}

.launch-button .small-text {
  font-size: 14px;
  font-weight: 300;
}

.panel-text p {
  margin: 0;
}

.launch-button a {
  text-decoration: none;
  color: inherit;
}

.link-button {
  border-color: $launcher-color-brown;
  outline: none;
}

.secondary-button {
  border-color: $launcher-border-color-secondary;
  outline: none;
}

.launch-button-hover {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  color: #fff;
}

.launch-button:hover .launch-button-hover {
  display: flex;
}

.launch-button .fasse-title{
  height: 140px;
  overflow: hidden;
  padding-top: 40px;
}

.link-button a {
  text-decoration: none;
  color: inherit;

}
.link-button-title {
  padding: 0 15px;
  font-size: 26px;
  color: $launcher-color-brown;
  text-align: center;
}

.link-button-subtitle {
  font-size: 18px;
  text-align: center;
}

#fasse-button p {
  margin: 0;
  padding: 0 15px;
}

.all-image {
  span {
    padding-left: 10px;
  }

  i {
    font-size: 75px;
    color: $launcher-border-color-secondary;
  }
}

header sup {
  font-variant: small-caps;
}

ul.dropdown-menu .popover {
  width:300px;
}

.container.content {
  width: 100%;
  max-width: 1400px;
}

footer {
  border-top: 1px solid #eee;
  margin: 0px 15px;
  padding-top: 30px;
}

#help-container, #docs-container {
  display: flex;
  justify-content: center;
  background-color: #F0F0F0;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .docs-sections-container {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    section {
      width: 100%;
    }
  }

  @media (max-width: 992px) {
    .docs-sections-container {
      flex-direction: column;
      gap: 0;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    color: $launcher-color-brown;
    letter-spacing: 0.5px;
  }

  .docs-footer {
    font-style: italic;
  }
}

span.arrow {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 65px;

  i {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 10px;
    border-radius: 5px;
    top: 21px;
    left: -50px;
    background-color: $launcher-border-color-secondary;
  }
}

span.arrow::before {
  content: "";
  position: absolute;
  top: 32px;
  display: inline-block;
  left: 0px;
  height: 10px;
  width: 40px;
  border-radius: 5px;
  background-color: $launcher-border-color-secondary;
  transform: rotate(-45deg);
}

span.arrow::after {
  content: "";
  position: absolute;
  bottom: 30px;
  display: inline-block;
  left: 0px;
  height: 10px;
  width: 40px;
  border-radius: 5px;
  background-color: $launcher-border-color-secondary;
  transform: rotate(45deg);
}
