<script>
const taskoids = {};
const jobs = {};
const grabSessions = async function() { 
  const r = await fetch("/pun/dev/dashboard/batch_connect/sessions.json", { headers: { "Accept": "application/json"}});
  const j = await r.json();
  var e = '';
  for (const l of j) {
    jobs[l.job_id] = l;
    var v;
    if (l.connect) {
      v = l
          .view
          .replace('test', l.connect.table.host)
	  .replace('port', l.connect.table.port)
          .replace('password', l.connect.table.password)
  	  .replace('<%= ENV["USER"] %>', l.info.job_owner)
          .replace('form', `form id=\"form_access_job_${l.job_id}\" `)
 	  .replace('type=\"submit\"', `name=\"btn_access_job_${l.job_id}\" type=\"submit\"`);
    } else {
      v = `<button class="disabled btn btn-primary btn-aligned">${l.status.state === "running" && "starting" || l.status.state}</button>`;
    }
    e = `${e}
  <div class="col-sm-6 col-md-3">
  <div class="panel panel-default">
     <div class="panel-heading text-center">${l.title}</div>
     <div class="panel-body text-center">
	     <span class="label label-success">${l.job_id}</span>
	     <span class="label label-info">${(new Date(l.info.dispatch_time)).toLocaleDateString('en-US')}</span>
     </div>
<div class="panel-footer text-center" id="access_job_${l.job_id}">${v}</div>
  </div>
  </div>
`;
 }

  const partial = `<div class="page-header">
  <h1>Tasks <small>currently running applications</small></h1>
</div><div class="row row-eq-height" style="width: 100%;">${e}</div>`;
  $("#running_jobs").empty().append(partial);
}

grabSessions();
const gsi = setInterval(grabSessions, 12000);

const add_taskoid = function(elem, sid, job_id) { 
  taskoids[sid] = setInterval(async () => {
    var task = jobs[job_id];
    if (task === undefined) return;

    if (task.connect) { 
	    rm_taskoid(elem, sid);
	    document.getElementById(`form_access_job_${job_id}`).submit();
    }

  }, 3000);
}; 

const rm_taskoid = function(elem, sid) { 
  clearInterval(taskoids[sid]);
  $(`#${elem}`).empty().append('Run');
  $(`#${elem}`).attr('disabled', false);
}

const app_params = {
  Rstudio: {
        "utf8": "✓",
        "batch_connect_session_context[cluster]": "dev-cluster",
        "batch_connect_session_context[bc_queue]": "shared",
        "batch_connect_session_context[custom_memory_per_node]": "4",
        "batch_connect_session_context[custom_num_cores]": "1",
        "batch_connect_session_context[custom_num_gpus]": "0",
        "batch_connect_session_context[custom_time]": "04:00:00",
        "batch_connect_session_context[r_version]": "NULL",
        "batch_connect_session_context[rlibs]": "",
        "batch_connect_session_context[custom_vanillaconf]": ["0", "1"],
        "batch_connect_session_context[envscript]": "",
        "batch_connect_session_context[bc_email_on_started]": "0",
        "batch_connect_session_context[custom_email_address]": "",
        "batch_connect_session_context[custom_reservation]": "",
        "batch_connect_session_context[bc_account]": "",
        "commit": "launch"
 }, 
 Desktop: {}
};

const run_app = async function (app, attributes, elem) {

  $(`#${elem}`).empty().append('<div class="dot-flashing"/>');
  $(`#${elem}`).attr('disabled', true);

  const r = await fetch(`/pun/dev/dashboard/api/sys/${app}/session_contexts`, {
    method: "POST",
    headers: { "Accept": "application/json" },
    body: new URLSearchParams({
        "utf8": "✓",
        "<%= request_forgery_protection_token %>": "<%= form_authenticity_token %>",
        "batch_connect_session_context[cluster]": "dev-cluster",
        "batch_connect_session_context[bc_queue]": "",
        "batch_connect_session_context[bc_account]": "",
        "batch_connect_session_context[bc_num_slots]": "1",
        "batch_connect_session_context[bc_num_hours]": "1",
        "batch_connect_session_context[bc_email_on_started]": "0",
        "commit": "Launch"
      }),
    credentials: "include",
  });

  const { id, job_id } = await r.json();
  console.log(`session: ${id} job: ${job_id}`)

  add_taskoid(elem, id, job_id);

  return r;
};

</script>

<div id="running_jobs"></div>
<div class="page-header">
  <h1>Applications <small>quick launch an application with recommended defaults</small></h1>
</div>
<div class="row row-eq-height" style="width: 100%;">
  <div class="col-sm-6 col-md-3">
  <div class="panel panel-default">
     <div class="panel-heading text-center">cannon</div>
     <div class="panel-body">
	     <img src="static/rstudio.svg" alt="..." height=100 width=100 class="img-responsive center-block"/>
     </div>
     <div class="panel-body">
	     <p>Run RStudio with 2 cpus and 4 gb ram.</p>
     </div>
     <div class="panel-footer text-center"><button class="btn btn-primary btn-fixed" id="ql_rstudio_run_button_indicator" onclick="run_app('RStudio', {}, 'ql_rstudio_run_button_indicator')">Run</button></div>
  </div>
  </div>

  <div class="col-sm-6 col-md-3">
  <div class="panel panel-default">
     <div class="panel-heading text-center">cannon</div>
     <div class="panel-body">
	     <img src="static/desktop.svg" alt="..." height=100 width=100 class="center-block"/>
     </div>
     <div class="panel-body">
	     <p>Launch a virtual desktop with 2 cpus and 4 gb ram.</p>
     </div>
    <div class="panel-footer text-center"><button class="btn btn-primary btn-fixed" id="ql_desktop_run_button_indicator" onclick="run_app('bc_desktop', {}, 'ql_desktop_run_button_indicator')">Run</button></div>
  </div>
  </div>

  <div class="col-sm-6 col-md-3">
  <div class="panel panel-default">
     <div class="panel-heading text-center">cannon</div>
     <div class="panel-body">
	     <img src="static/Jupyter_logo.svg" alt="..." height=100 width=100 class="center-block"/>
     </div>
     <div class="panel-body">
	     <p>Run Jupyter with 2 cpus and 4 gb ram.</p>
     </div>
     <div class="panel-footer text-center"><button class="btn btn-primary" disabled>Run</button></div>
  </div>
  </div>


  <div class="col-sm-6 col-md-3">
  <div class="panel panel-default">
     <div class="panel-heading text-center">cannon</div>
     <div class="panel-body">
	     <img src="static/term.svg" alt="..." height=100 width=100 class="img-responsive center-block"/>
     </div>
     <div class="panel-body">
	     <p>Run Terminal with 2 cpus and 4 gb ram.</p>
     </div>
     <div class="panel-footer text-center"><button class="btn btn-primary disabled">Run</button></div>
  </div>
  </div>



</div>
