<div id="link-all-sessions-button" class="col-sm-6 col-md-4 col-lg-3">
  <div class="app-launcher app-launcher-hover">
    <a class="quick-link launcher-click gray" href="<%= batch_connect_sessions_path %>">
      <div class="quick-link-header-image">
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i><span class="title-text">All apps</span>
      </div>
      <div class="quick-link-text">
        <p>View all interactive apps</p>
      </div>
    </a>
  </div>
</div>

