<div id="docs-container">
  <div class="content ood-appkit markdown">
  <h2>You can submit jobs, check running jobs, and open interactive graphical sessions ro run your favorite applications from this Dashboard.</h2>
  <h2>Click and application to launch the default configuration, or go to the menu bar to find more options.</h2>

    <div class="docs-sections-container">
      <section class="col-sm-12 col-md-6 col-lg-6">
        <h3>Getting started</h3>
        <p>
          Some examples of the things you can do from this dashboard:
        <ul>
          <li>Open an interactive remote desktop session to a compute node</li>
          <li>Run Jupyter Notebooks</li>
          <li>Run Rstudio Server sessions</li>
          <li>Browse and edit your files</li>
          <li>Open a terminal connection to a login node</li>
        </ul>
        </p>

        <h3>Documentation and Training</h3>
        <p>
          Check out our documentation for the Virtual Desktop Interface at <a href="https://docs.rc.fas.harvard.edu/kb/virtual-desktop/" target="_blank">this page.</a>
        </p>
        <p>
          Refer to the FASRC <a href="https://docs.rc.fas.harvard.edu/" target="_blank">documentation</a> to learn more on:
        <ul>
          <li><a href="https://docs.rc.fas.harvard.edu/kb/running-jobs/" target="_blank">Running jobs on the cluster and requesting resources</a></li>
          <li><a href="https://docs.rc.fas.harvard.edu/kb/convenient-slurm-commands/#Controlling_jobs" target="_blank">How to check your running jobs</a> and
            <a href="https://docs.rc.fas.harvard.edu/kb/fairshare/" target="_blank">fairshare</a>
          </li>
          <li><a href="https://docs.rc.fas.harvard.edu/kb/software/" target="_blank">Access scientific software in your jobs</a></li>
        </ul>
        </p>

      </section>

      <section class="col-sm-12 col-md-6 col-lg-6">
        <h3>Support</h3>
        <p>
          If you need help, please contact us following <a href="https://docs.rc.fas.harvard.edu/kb/support/" target="_blank">these instructions</a>, or come at visit us at our <a href="https://www.rc.fas.harvard.edu/training/office-hours/" target="_blank">office hours sessions.</a>
        </p>
        <p>
          We host training sessions regularly! Please refer to our <a href="https://www.rc.fas.harvard.edu/upcoming-training/" target="_blank">calendar</a> for more information.
        </p>

        <h3>System Status and Planned Downtime</h3>
        <p>
          Please refer to <a href="https://status.rc.fas.harvard.edu/" target="_blank">https://status.rc.fas.harvard.edu/</a> to get the latest information on the status of the system.
        </p>
        <p>
          You can find information on our <a href="https://www.rc.fas.harvard.edu/maintenance" target="_blank">monthly planned maintenance window at this page.</a>
        </p>

        <div class="cluster-status-component">
          <div class="status-iframe">
            <iframe src="https://fasrc.instatus.com/embed-status/light-sm" width="100%" height="40" frameBorder="0" scrolling="no" style="border: none;"></iframe>
          </div>
        </div>

      </section>
    </div>

    <p class="docs-footer">
      Sid is a collaboration between the Institute for Quantitative Social Science and the Faculty of Arts and Sciences Research Computing.
    </p>


  </div>
</div>