<div class="cluster-status-component">
  <% if display_custom_hpc_status %>
  <%# CUSTOM HPC STATUS IMPLEMENTATION %>
    <div id="hpc-status-content" class="status-container" data-toggle="hpc-status">
      <p class="hpc-status ok">
        Current status: <span>No known issues</span>
      </p>
    </div>
  <% else %>
  <%# STATUS WIDGET PROVIDED BY FASRC%>
    <div class="status-iframe">
      <iframe src="https://fasrc.instatus.com/embed-status/light-sm" width="100%" height="40" frameBorder="0" scrolling="no" style="border: none;"></iframe>
    </div>
  <% end %>
</div>