// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#view-interactive-sessions-container {
  margin-bottom: 40px;
}

.quick-launch-buttons-container {
  border-bottom: 1px solid #ddd;
  padding: 0 15px 10px 15px;
  margin-bottom: 15px;
}

.quick-launch-buttons-container h3 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #337ab7;
}

.launch-button-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.launch-button-spinner .spinner-border{
  width: 60px;
  height: 60px;
}
.launch-button {
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #337ab7;
  border-radius: 30px;
  margin-bottom: 20px;
  height: 220px;
  overflow: hidden;
  cursor: pointer;
}
.launch-button:hover {
  transform: scale(0.98);
}

.launch-button .title{
  text-transform: uppercase;
  padding: 10px;
}

.launch-button .panel-image{
  height: 110px;
  overflow: hidden;
}

.launch-button .panel-text {
  padding: 0 20px 15px 20px;
  white-space: nowrap;
}

.panel-text p {
  margin: 0;
}

.launch-button a {
  text-decoration: none;
  color: inherit;
}

.link-button {
  border: 1px solid #CA8E6E;
  outline: none;
}
.link-button a {
  text-decoration: none;
  color: inherit;

}
.link-button-text {
  padding: 0 15px;
  height: 135px;
  overflow: hidden;
  font-size: 3rem;
  color: #CA8E6E;
  text-align: center;
}

#fasse-button p {
  padding: 15px;
}

header sup {
  font-variant: small-caps;
}

ul.dropdown-menu .popover {
  width:300px;
}

.container.content {
  width: 100%;
  max-width: 1400px;
}

footer {
  border-top: 1px solid #eee;
  margin: 0px 15px;
  padding-top: 30px;
}
