<div class="launch-button-container">
  <div id="link-all-sessions-button" class="launch-button secondary-button">
    <a href="<%= batch_connect_sessions_path %>">
      <div class="panel-body all-image">
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i><span class="title-text">All apps</span>
      </div>
      <div class="panel-body panel-text">
        <p class="title-text">View all interactive apps</p>
      </div>
    </a>
  </div>
</div>

