<div class="launch-button-container">
  <div id="link-cannon-button" class="launch-button link-button link-connect-button">
    <a href="https://vdi.rc.fas.harvard.edu/" target="_blank">
      <div class="panel-body fasse-title">
        <p class="link-button-title">Low Risk Data</p>
        <p class="link-button-subtitle">Up to Harvard Level 2</p>
      </div>
      <p class="title-text">Connect to Cannon</p>
      <p class="small-text">Low risk confidential data</p>
      <p class="small-text">Cannon cluster</p>
    </a>
  </div>
</div>