<div class="<%= button_column_classes %>">
  <div class="launch-button secondary-button">
    <a href="<%= terminal_url %>" target="_blank">
      <div class="panel-body terminal-image">
        <img src="<%= asset_url 'term_logo.svg' %>" alt="Application logo" width="125" class="center-block"  style="margin-top: 5x;"/>
      </div>
      <div class="panel-body panel-text">
        <p class="title-text">Start a web based</p>
        <p class="title-text">Terminal session</p>
      </div>
    </a>
  </div>
</div>

