<h3></h3>
<hr>

<div>
    <p><img src="/public/images/rc-logo-text_2017.png" alt="fas-rc" width="50%"></p>

    <h1>Welcome to FAS-RC Cluster</h1>

    <p>The Computing Cluster is a resource for the research community, hosted by Research Computing at Harvard University's Faculty of Arts and Sciences.<br>
      To apply for an account please refer to <a href="https://docs.rc.fas.harvard.edu/kb/account-signup/">this webpage</a></p>

    <p>From this portal you can submit your jobs, check running jobs, and open interactive graphical sessions to run your favorite applications.</p>

    <p>These are some examples of the things you will be able to do :</p>

    <ul>
      <li>Open an interactive remote desktop session to a compute node</li>
      <li>Run Jupyter Notebooks </li>
      <li>Run Rstudio Server sessions </li>
      <li>Browse and edit your files </li>
      <li>Open a terminal connection to a login node</li>
    </ul>

    <p>Checkout our documentation at <a href="https://docs.rc.fas.harvard.edu/kb/virtual-desktop/">this page</a>. More documentation will be uploaded soon.</p>

    <h2>Documentation and Training </h2>

    <p>Refer to our <a href="https://docs.rc.fas.harvard.edu">main documentation</a> to learn more on</p>

    <ul>
      <li><a href="https://docs.rc.fas.harvard.edu/kb/running-jobs/">running jobs on the cluster and request resources</a></li>
      <li>
        <a href="https://docs.rc.fas.harvard.edu/kb/convenient-slurm-commands/#Controlling_jobs">how to check your running</a> and <a href="https://docs.rc.fas.harvard.edu/kb/fairshare/">fairshare</a> </li>
      <li>
        <a href="https://docs.rc.fas.harvard.edu/kb/software/">access scientific software in your jobs</a> </li>
    </ul>

    <p>If you need help, please contact us following <a href="https://docs.rc.fas.harvard.edu/kb/support/">these instructions</a>, or come at visit us at our <a href="https://www.rc.fas.harvard.edu/training/office-hours/">office hours sessions</a>.   </p>

    <p>We host <strong>training sessions</strong> both at on site and online. Please refer to our <a href="https://www.rc.fas.harvard.edu/upcoming-training/">updated calendar</a> for more information.</p>

    <h2>System Status and Planned Downtime</h2>

    <p>Please refer to <a href="https://status.rc.fas.harvard.edu/">https://status.rc.fas.harvard.edu/</a> to get the latest information on the status of the system.</p>

    <p>You can find information on our <a href="https://www.rc.fas.harvard.edu/maintenance">montly planned maintenance window at this page</a>.</p>
</div>