<div class="<%= button_column_classes %>">
  <div id="fasse-button" class="launch-button link-button">
    <a href="#">
      <div class="title text-center">fas se</div>
      <div class="link-button-text">
        Connect to FAS SE to work with Level 3 data
      </div>
    </a>
  </div>
</div>