<hr />

<div id="help-container" class="ood-appkit markdown">
  <h2>Documentation and Training</h2>
  <p>
    Visit the <a href="#">Social Science Computing documentation</a> to learn more about running Social Science computing applications on this cluster.
  </p>
  <p>
    Visit <a href="#">IQSS Data Science Services documentation</a> for workshops, demos, and tutorials:
  <ul>
    <li><a href="#">Run Batch Jobs in different languages</a></li>
    <li><a href="#">Create your own packages in R</a></li>
    <li><a href="#">Python, R, and Stata workshop materials</a></li>
  </ul>
  </p>
  <p>
    Refer to the FASRC <a href="#">main documentation</a> to learn more:
  <ul>
    <li><a href="#">Running jobs on the cluster and requesting resources</a></li>
    <li><a href="#">How to check your running jobs and fairshare</a></li>
    <li><a href="#">Access scientific software in your jobs</a></li>
    <li><a href="#">Current System Status, planned maintenance, and downtime</a></li>
  </ul>
  </p>
  <p>
    If you need help, please contact us following <a href="#">these instructions</a>, or come at visit us at our <a href="#">office hours sessions.</a><br />
    We host training sessions both at on site and online. Please refer to our <a href="#">updated calendar</a> for more information.
  </p>
</div>