<div class="<%= button_column_classes %>">
  <div id="fasse-button" class="launch-button link-button">
    <a href="https://fasseood.rc.fas.harvard.edu/" target="_blank">
      <div class="panel-body fasse-title">
        <p class="link-button-title">Medium Risk Data</p>
        <p class="link-button-subtitle">Harvard Level 3</p>
      </div>
      <p class="title-text">Connect to FAS SE</p>
      <p class="small-text">Medium risk confidential data</p>
      <p class="small-text">FAS SE cluster</p>
    </a>
  </div>
</div>